SUBSYSTEM=="tty", ATTRS{interface}=="USB Null Modem Cable", SYMLINK+="usbl"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0c52", ATTRS{idProduct}=="2104", ATTRS{serial}=="SLB7hQYa", SYMLINK+="sonar"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0c52", ATTRS{idProduct}=="2104", ATTRS{serial}=="SLRA8dBQ", SYMLINK+="videoray"
KERNEL=="js*", SUBSYSTEM=="input", SYMLINK+="input/videorayjs"
